// COLORS
$blue-main: #023047;
$yellow-main: #FFB703;
$grey-light: #E6E6E6;
$grey-stroke: #EDEDED;

// FONT-WEIGHTS
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// FONT-SIZES
$font-size-large: 1.15rem;
$font-size-regular: 1rem;
$font-size-caption: 0.75rem;

// BORDERS
$border-radius-regular: 15px;
$border-radius-medium: 10px;
$border-radius-small: 5px;